@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); /* New font import */
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

:root { 
    --border-rad-lg: 15px;
    --light-text: #ffffff;
    --outline-color: #ffffff;
    --border-rad-round: 50$;
}

*, *::before, *::after {
    box-sizing: border-box;  
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main {    
    background-color: slategrey;
    background-image: url('images/chatbot-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbot-container {
    background-color: #000000;
    width: 360px;
    min-height: 380px;
    border-radius: var(--border-rad-lg);
    padding: 1.5em;
    border: 1px solid #ffffff;
}

.chatbot-container > * {
    padding: .5em;   
}

.chatbot-header {
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo {
    width: 40px;
    height: 40px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.h1 {
    font-family: 'Anuphan', sans-serif;
    color: var(--light-text);
    font-size: 1.6em;
    margin: 0;
    font-weight: 700;
}
.sub-heading {
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
    font-size: 0.9em;
    margin: 0;
    font-weight: 300;
}

.chatbot-conversation-container {
    height: 250px;
    overflow-y: scroll;
    margin: 1em 0;
}

.chatbot-conversation-container::-webkit-scrollbar {
    display: none;
}

.chatbot-conversation-container::-moz-scrollbar {
    display: none;
}

.speech {
    padding: 1em;
    max-width: 240px; 
    color: var(--light-text);
    min-width: 90%;
    border-radius: var(--border-rad-lg); 
    font-size: 1.07em;
}

.speech:first-child {
    margin-top: 0;
}

.speech-ai {
    background: #334959;
    border-top-left-radius: 0;
    margin: 1.2em 1em 0 0; 
}

.speech-human {
    margin: 1.2em 0 0 1em; 
    background: #2f4f4f;
    border-top-right-radius: 0; 
}

.chatbot-input-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--outline-color); 
    border-radius: var(--border-rad-lg);
    overflow: hidden;
}

form {
    display: flex;
    width: 100%;
}

input[type="text"] {
    color: var(--light-text);
    flex: 1;
    padding: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    border-right: 1px solid var(--outline-color);

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #586e88;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    border-radius: var(--border-rad-round);
}

button img {
    width: 20px;
}
